.text-center {
	text-align: center;
}

body,
a {
	font-family: "Lato", sans-serif;
	color: #2d3c49;
}

.logo {
	float: left;
	height: 120px;
}

.title-name {
	font-weight: 100;
	font-size: 50px;
}

.title-job {
	font-weight: 300;
	font-size: 20px;
}

.feature-title {
	color: #7d97ad;
	font-weight: 600;
}

.item-title {
	font-weight: 600;
}

hr {
	width: 100%;
	margin: 10px 0;
	height: 5px;
	background-color: #7d97ad;
}

@media (max-width: 992px) {
	.feature-title {
        text-align: center;
    }
}

/*for phone*/
@media (max-width: 412px) {
	.feature-title {
        text-align: center;
    }

	.logo {
		width: 80px;
		height: 80px;
	}

	.title-name {
		font-size: 30px;
	}
	
	.title-job {
		font-size: 20px;
	}
}
